<template>
    <form role="form" id="createForm" v-on:submit.prevent="submit">
        <div class="box-body">
            <div class="form-group">
                <label for="url">URL projektu</label>
                <input type="url" class="form-control" id="url" placeholder="https://www.vspj.cz" autocomplete="off" v-model="url">
            </div>
            <div class="form-group">
                <label for="title">Název projektu</label>
                <input type="text" class="form-control" id="title" placeholder="Web VŠPJ" autocomplete="off" v-model="title">
            </div>
            <div class="form-group">
                <label for="interval">Interval monitorování (v sekundách)</label>
                <input type="number" class="form-control" id="interval" autocomplete="off" value="300" v-model="interval">
            </div>
            <div class="form-group">
                <label for="user-agent">User agent</label>
                <select name="user-agent" class="form-control" id="user-agent" v-model="ua">
                    <option value="bot">Bot</option>
                    <option value="chrome">Chrome</option>
                    <option value="firefox">Firefox</option>
                    <option value="safari">Safari</option>
                    <option value="ie">Internet Explorer</option>
                </select>
            </div>
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Vytvořit</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'create-form',
        data () {
            return {
                errors: [],
                url: null,
                title: null,
                interval: 300,
                ua: 'bot'
            }
        },
        methods: {
            validate()  {
                this.errors = [];
                return true;
            },
            submit() {
                var self = this;
                if (this.validate()) {
                    this.axios
                        .post('/api/projects/', {
                            url: this.url,
                            title: this.title,
                            interval: this.interval,
                            ua: this.ua
                        })
                        .then(function (response) {
                            if (response.status === 201) {
                                window.location.href = '/dashboard/detail/' + response.headers.project_id;
                            }
                        })
                        .catch(error => (
                            console.log(error)
                        ))
                    ;
                }
            }
        },
        mounted() {
            this.axios
                .get('/api/projects')
                .then(response => (
                    this.projects = response.data
                ))
        }
    }
</script>

<style>
    .project-favicon {
        margin: 3px 8px 3px 0;
    }
</style>
