<template>
    <div class="row">
        <div class="col-md-12">
            <div v-for="(m, i) in messages" class="alert" v-bind:class="m.type">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" v-on:click="removeMessage(i)">×</button>
                {{ m.message }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ project.title }}</h3>

                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row text-center">
                        <img class="img-responsive center-block" v-bind:src="screenshot" alt="Website screenshot">
                    </div>
                    <strong><i class="fa fa-user margin-r-5"></i> Uživatelé</strong>
                    <p>
                        <span class="label label-success" v-for="user in users" v-if="user.me">{{ user.email }}</span>
                        <span class="label label-info" v-for="user in users" v-if="!user.me">{{ user.email }}</span>
                    </p>
                    <div class="row" v-if="usersToAdd.length > 0">
                        <form role="form" id="addUserForm" v-on:submit.prevent="addUserToProject">
                            <div class="form-group col-md-6">
                                <select name="add-user" class="form-control" id="add-user" v-model="addUser" v-if="usersToAdd">
                                    <option disabled value="">Vyberte uživatele</option>
                                    <option v-for="u in usersToAdd" v-bind:value="u.id">{{ u.email }}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-primary">Přidat uživatele k projektu</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#">
                                URL
                                <span class="pull-right text-green">
                                    {{ project.url }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Vytvořeno
                                <span class="pull-right text-green">
                                    {{ created_at }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Interval kontrol
                                <span class="pull-right text-green">
                                    {{ interval }} sek.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Poslední kontrola
                                <span class="pull-right text-green">
                                    {{ last_check_at }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Status
                                <span class="label pull-right" v-bind:class="status(project.status).label">{{ status(project.status).name }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer -->
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Poslední kontroly</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Čas</th>
                                <th>Status</th>
                                <th>URL</th>
                                <th>Kontrola</th>
                                <th>Nalezená hodnota</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="r in this.results">
                                <td>{{ formatDatetime(r.created_at) }}</td>
                                <td><span class="label" v-bind:class="status(r.status).label">{{ status(r.status).name }}</span></td>
                                <td>{{ r.url }}</td>
                                <td>{{ r.description }}</td>
                                <td>{{ r.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                </div>
                <!-- /.footer -->
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Nastavení hlídači</h3>

                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Název</th>
                                <th>URL</th>
                                <th>Status</th>
                                <th>Poslední kontrola</th>
                                <th class="text-right">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="rule in project.rules">
                                <td>{{ rule.title }}</td>
                                <td>{{ rule.url }}</td>
                                <td><span class="label" v-bind:class="status(rule.status).label">{{ status(rule.status).name }}</span></td>
                                <td>
                                    {{ formatDatetime(rule.last_check_at) }}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger btn-flat pull-right" title="Smazat" v-on:click="deleteRule(rule.id)"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-sm btn-default btn-flat pull-right" title="Editace pravidel" v-on:click="displayChecks(rule)"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" v-if="!showAddRule" v-on:click="showAddRule = true; showChecks = false">Přidat nového hlídače</a>
                </div>
                <!-- /.box-footer -->
            </div>

            <div class="box box-default" v-if="showAddRule">
                <div class="box-header with-border">
                    <h3 class="box-title">Přidat hlídače</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove" v-on:click="hideAddRuleForm"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">

                    <div class="form-group">
                        <label for="rule_title">Název hlídače</label>
                        <input type="text" class="form-control" id="rule_title" placeholder="Kontrola kontaktní stránky" autocomplete="off" v-model="ruleTitle">
                    </div>

                    <div class="form-group">
                        <label for="rule_url">Relativní url vůči {{ project.url }}</label>
                        <input type="text" class="form-control" id="rule_url" placeholder="/kontakt" autocomplete="off" v-model="ruleUrl">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" v-on:click="submitAddRule">Přidat</a>
                </div>
                <!-- /.box-footer -->
            </div>

            <div class="box box-default" v-if="showChecks">
                <div class="box-header with-border">
                    <h3 class="box-title">Nastavení pravidel pro hlídače <strong>{{ ruleForChecks.title }}</strong> <small>({{ ruleForChecks.url}})</small></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove" v-on:click="hideChecks"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">

                    <div class="table-responsive table-bordered" v-if="checks.length > 0">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Typ kontroly</th>
                                <th>Porovnání</th>
                                <th>Očekávaná hodnota</th>
                                <th>Status</th>
                                <th>Poslední kontrola</th>
                                <th class="text-right">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="check in checks">
                                <td>{{ comparisonType(check.type) }}</td>
                                <td>{{ comparison(check.comparison) }}</td>
                                <td>{{ check.expected }}</td>
                                <td>
                                    <span class="label" v-bind:class="status(check.status).label">{{ status(check.status).name }}</span>
                                </td>
                                <td>
                                    {{ formatDatetime(check.last_check_at) }}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger btn-flat pull-right" title="Smazat" v-on:click="deleteCheck(ruleForChecks, check.id)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->

                    <div class="col-md-12">
                        <h3>Přidat kontrolu</h3>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="check-type">Typ kontroly</label>
                        <select name="check-type" class="form-control" id="check-type" v-model="checkType">
                            <option v-for="v in checkTypes" v-bind:value="v.id">{{ v.title }}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="check-comparison">Typ porovnání</label>
                        <select name="check-comparison" class="form-control" id="check-comparison" v-model="checkComparison">
                            <option v-for="v in checkComparisons" v-bind:value="v.id">{{ v.title }}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="expected">Kontrolovaná hodnota</label>
                        <input type="text" class="form-control" id="expected" placeholder="200" autocomplete="off" v-model="checkExpected">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" v-on:click="submitAddCheck(ruleForChecks)">Přidat kontrolu</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'project-detail',
        props: ['project_id'],
        data() {
            return {
                users: [],
                usersToAdd: [],
                project: null,
                results: [],
                addUser: '',
                messages: [],
                showAddRule: false,
                ruleTitle: null,
                ruleUrl: null,
                showChecks: false,
                ruleForChecks: null,
                checkTypes: [
                    {
                        id: "http-status",
                        title: "HTTP status",
                    },
                    {
                        id: "content",
                        title: "Text na stránce"
                    }
                ],
                checkComparisons: [
                    {
                        id: "equals",
                        title: "="
                    },
                    {
                        id: "contains",
                        title: "obsahuje"
                    },
                    {
                        id: "!contains",
                        title: "neobsahuje"
                    }
                ],
                checkType: 'http-status',
                checkComparison: 'equals',
                checkExpected: null,
                checks: [],
            }
        },
        mounted() {
            var self = this;
            this.axios
                .get('/api/projects/' + this.project_id)
                .then(function (response) {
                    self.project = response.data;
                })
                .catch(error => (
                    console.log(error)
                ));
            this.axios
                .get('/api/projects/'+ this.project_id +'/users')
                .then(function (response) {
                    self.users = response.data;
                })
                .catch(error => (
                    console.log(error)
                ));
            this.axios
                .get('/api/users/')
                .then(function (response) {
                    response.data.forEach(function (value) {
                       let found = self.users.find(function (el) {
                           return el.id === value.id;
                       });

                       if (!found) {
                           self.usersToAdd.push(value);
                       }
                    });
                })
                .catch(error => (
                    console.log(error)
                ));
            this.axios
                .get('/api/projects/' + this.project_id + '/results')
                .then(function (response) {
                    self.results = response.data;
                })
                .catch(error => (
                    console.log(error)
                ));
        },
        computed: {
            screenshot: function () {
                return this.project.screenshot ? '/uploads/' + this.project.screenshot : '//via.placeholder.com/300x300';
            },
            interval: function () {
                return this.project.interval;
            },
            last_check_at: function () {
                return this.formatDatetime(this.project.last_check_at);
            },
            is_ok: function () {
                return this.project.is_ok;
            },
            created_at: function () {
                let datetime = new Date(this.project.created_at.date);
                return  datetime.getDate() + ". " + (datetime.getMonth() + 1) + ". " + datetime.getFullYear();
            }
        },
        methods: {
            addUserToProject() {
                var self = this;
                if (this.addUser !== '') {
                    this.axios
                        .post('/api/projects/' + this.project_id + '/users', {
                            'user_id': this.addUser
                        })
                        .then(function (response) {
                            console.log(response.data);

                            self.usersToAdd.forEach(function (value, k) {
                                if (value.id === self.addUser) {
                                    let usr = self.usersToAdd[k];
                                    usr.me = false;
                                    self.users.push(usr);
                                    self.usersToAdd.splice(k, 1);
                                }
                            });
                            self.addUser = '';
                            self.messages = [];
                        })
                        .catch(error => (
                            console.log(error)
                        ));
                } else {
                    this.messages.push({
                        message: "Musíte zvolit uživatele pro přidání k projektu",
                        type: "alert-danger"
                    });
                }
            },
            displayAddRuleForm() {
                this.showAddRule = true;
            },
            hideAddRuleForm() {
                this.showAddRule = false;
            },
            submitAddRule() {
                var self = this;
                this.axios
                    .post('/api/projects/' + this.project_id + '/rules', {
                        'title': self.ruleTitle,
                        'url': self.ruleUrl,
                    })
                    .then(function (response) {
                        self.project.rules.push({
                            'id': response.headers.rule_id,
                            'title': self.ruleTitle,
                            'url': self.ruleUrl,
                            'status': 3,
                            'last_check_at': null,
                        });
                        self.ruleTitle = null;
                        self.ruleUrl = null;
                        self.showAddRule = false;
                    })
                    .catch(error => (
                        console.log(error)
                    ));
            },
            deleteRule(id) {
                var self = this;
                this.axios
                    .delete('/api/projects/' + this.project_id + '/rules/' + id)
                    .then(function (response) {
                        self.project.rules.forEach(function (value, k) {
                            if (value.id === id) {
                                self.project.rules.splice(k, 1);
                            }
                        })
                    })
                    .catch(error => (
                       console.log(error)
                    ));
            },
            removeMessage(index) {
                this.messages.splice(index, 1);
            },
            hideChecks() {
                this.showChecks = false;
            },
            displayChecks(rule) {
                var self = this;
                this.showAddRule = false;
                this.checks = [];
                this.axios
                    .get('/api/projects/' + this.project_id + '/rules/' + rule.id + '/checks')
                    .then(function (response) {
                        self.checks = response.data;
                    })
                    .catch(error => (
                        console.log(error)
                    ));
                this.ruleForChecks = rule;
                this.showChecks = true;
            },
            submitAddCheck(rule) {
                if (!this.checkExpected) {
                    this.messages.push({
                        message: "Musíte nastavit hodnotu ke kontrole",
                        type: "alert-danger"
                    });
                    return;
                }

                var self = this;
                this.axios
                    .post('/api/projects/' + this.project_id + '/rules/' + rule.id + '/checks', {
                        'comparison': self.checkComparison,
                        'type': self.checkType,
                        'expected': self.checkExpected
                    })
                    .then(function (response) {
                        self.checks.push({
                            'id': response.headers.check_id,
                            'comparison': self.checkComparison,
                            'type': self.checkType,
                            'expected': self.checkExpected,
                            'status': 2,
                            'last_check_at': null,
                        });
                        self.checkExpected = null;
                        self.checkComparison = 'equals';
                        self.checkType = 'http-status';
                    })
                    .catch(error => (
                        console.log(error)
                    ));
            },
            deleteCheck(rule, id) {
                var self = this;
                this.axios
                    .delete('/api/projects/' + this.project_id + '/rules/' + rule.id + '/checks/' + id)
                    .then(function (response) {
                        self.checks.forEach(function (value, k) {
                            console.log(value.id + " === " + id);
                            if (value.id === id) {
                                self.checks.splice(k, 1);
                            }
                        })
                    })
                    .catch(error => (
                        console.log(error)
                    ));
            },
            status: function (status_id) {
                let statuses = {
                    0: {name: "Chyba", label: "label-danger"},
                    1: {name: "OK", label: "label-success"},
                    2: {name: "Nezkontrolováno", label: "label-info"},
                    3: {name: "Žádné kontroly", label: "label-info"},
                    4: {name: "Žádní hlídači", label: "label-info"}
                };

                return statuses[status_id];
            },
            comparison: function (id) {
                let comparisons = {
                    equals: '=',
                    contains: 'obsahuje',
                    '!contains': 'neobsahuje'
                }

                return comparisons[id];
            },
            comparisonType: function (id) {
                let types = {
                    'http-status': 'HTTP status',
                    'content': 'Text na stránce'
                };

                return types[id];
            },
            formatDatetime: function (dt) {
                if (dt == null) return 'neproběhla';
                let datetime = new Date(dt);
                return datetime.getDate() + ". " + (datetime.getMonth() + 1) + ". " + datetime.getFullYear() + " " + this.doubleDigits(datetime.getHours()) + ":" + this.doubleDigits(datetime.getMinutes()) + ":" + this.doubleDigits(datetime.getSeconds());
            },
            doubleDigits: function (input) {
                return input < 10 ? ("0" + input).slice(-2) : input;
            }
        }
    }
</script>

<style>
    .project-favicon {
        margin: 3px 8px 3px 0;
    }
</style>
