<template>
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="img-responsive center-block" v-bind:src="screenshot" alt="Website screenshot">

                <h3 class="profile-username text-center">{{ project.title }}</h3>

                <p class="text-muted text-center">{{ project.url }}</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Počet hlídačů</b> <a class="pull-right">{{ project.rules_count }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Počet kontrol</b> <a class="pull-right">{{ project.checks_count }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Interval kontrol</b><span class="pull-right">{{ interval }} sek.</span>
                    </li>
                    <li class="list-group-item">
                        <b>Poslední kontrola</b> <span class="pull-right">{{ formatDatetime(project.last_check_at) }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Status</b> <span class="label pull-right" v-bind:class="status.label">{{ status.name }}</span>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-md-6">
                        <a :href="'/dashboard/detail/' + project.id" class="btn btn-primary btn-block">
                            <i class="fa fa-search"></i>
                            <b>Detail</b>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button @click="deleteProject(project)" class="btn btn-primary btn-danger btn-block">
                            <i class="fa fa-trash"></i>
                            <b>Smazat</b>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</template>

<script>
    import { dataBus } from '../../index';

    export default {
        name: 'project-item',
        props: ['project'],
        methods: {
            showDialog() {
                this.$dialog
                    .confirm('Please confirm to continue')
                    .then(function(dialog) {
                        console.log('Clicked on proceed');
                    })
                    .catch(function() {
                        console.log('Clicked on cancel');
                    });
            },
            deleteProject(project) {
                this.axios
                    .delete('/api/projects/'+project.id)
                    .then(function (response) {
                        dataBus.$emit('projectDeleted', project);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                ;
            },
            formatDatetime: function (dt) {
                if (dt == null) return 'neproběhla';
                let datetime = new Date(dt);
                return datetime.getDate() + ". " + (datetime.getMonth() + 1) + ". " + datetime.getFullYear() + " " + this.doubleDigits(datetime.getHours()) + ":" + this.doubleDigits(datetime.getMinutes()) + ":" + this.doubleDigits(datetime.getSeconds());
            },
            doubleDigits: function (input) {
                return input < 10 ? ("0" + input).slice(-2) : input;
            }
        },
        computed: {
            screenshot: function () {
                return this.project.screenshot ? '/uploads/' + this.project.screenshot : '//via.placeholder.com/300x300';
            },
            interval: function () {
                return this.project.interval;
            },
            status: function () {
                let statuses  = {
                        0: {name: "Chyba", label: "label-danger"},
                        1: {name: "OK", label: "label-success"},
                        2: {name: "Nezkontrolováno", label: "label-info"},
                        3: {name: "Žádné kontroly", label: "label-info"},
                        4: {name: "Žádní hlídači", label: "label-info"}
                };

                return statuses[this.project.status];
            }
        }
    }

</script>

<style scoped></style>
