<template>
    <li>
        <a :href="'/dashboard/detail/' + project.id">
            <img v-if="favicon" class="img-circle img-responsive pull-left project-favicon" v-bind:src="'/uploads/' + favicon" width="16" height="16">
            <i v-else class="fa fa-product-hunt text-green"></i>
            <span>{{ project.title }}</span>
        </a>
    </li>
</template>

<script>
    export default {
        name: 'menu-item',
        props: ['project'],
        computed: {
            favicon: function (project) {
                return this.project.favicon;
            }
        }
    }
</script>
