{% extends 'base.html.twig' %}

{% block title %}Zapomenuté heslo{% endblock %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Vložte váš email pro zaslání odkazy ke změně hesla</p>

        {{ form(form) }}

    </div>
    <!-- /.login-box-body -->
{% endblock %}

{% block javascripts %}
{% endblock %}
