{% extends 'base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Prosím, přihlašte se</p>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for label, message in app.flashes %}
            <div class="alert alert-{{ label }}">
                {{ message.0 }}
            </div>
        {% endfor %}

        <form method="post">
            <div class="form-group has-feedback">
                <input name="email" type="email" class="form-control" placeholder="Email" value="{{ last_username }}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="password" type="password" class="form-control" placeholder="Heslo">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="_remember_me"> Zapamatovat
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Přihlásit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{{ path('forgotten') }}">Zapomněl jsem heslo</a><br>
        {% if is_registration_enabled == "true" %}
        <a href="{{ path('register') }}" class="text-center">Zaregistrovat</a>
        {% endif %}
    </div>
    <!-- /.login-box-body -->
{% endblock %}

{% block javascripts %}
{% endblock %}
