{% extends 'base.html.twig' %}

{% block title %}Nastavení hesla{% endblock %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Nastavte si nové heslo</p>

        {{ form(form) }}

    </div>
    <!-- /.login-box-body -->
{% endblock %}

{% block javascripts %}
{% endblock %}
