<template>
    <div class="col-md-12">
        <project-item v-for="project in projects" v-bind:project="project" v-bind:key="project.id"></project-item>
    </div>
</template>

<script>

    import ProjectItem from "./components/content/ProjectItem";
    import { dataBus } from './index';

    export default {
        name: 'dashboard',
        components: {ProjectItem},
        data () {
            return {
                projects: []
            }
        },
        mounted() {
            this.axios
                .get('/api/projects')
                .then(response => (
                    this.projects = response.data
                ))
        },
        created() {
            dataBus.$on('projectDeleted', (project) => (
                this.projects = this.projects.filter(function (v, i, arr) {
                    return v.id !== project.id
                })
            ));
        }
    }

</script>

<style scoped>
    h1 {font-size: 200%}
</style>


<style>
    .project-favicon {
        margin: 3px 8px 3px 0;
    }
</style>
