<template>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">PROJEKTY</li>

        <menu-item v-for="project in projects" v-bind:project="project" v-bind:key="project.id"></menu-item>

        <li>
            <a href="/dashboard/create"><i class="fa fa-plus-circle"></i> <span>Vytvořit nový projekt</span></a>
        </li>
    </ul>
</template>

<script>

    import MenuItem from "./components/sidebar/ProjectItem";
    import { dataBus } from './index';

    export default {
        name: 'menu-projects',
        components: {MenuItem},
        data () {
            return {
                projects: []
            }
        },
        mounted() {
            this.axios
                .get('/api/projects')
                .then(response => (
                    this.projects = response.data
                ))
        },
        created() {
            dataBus.$on('projectDeleted', (project) => (
                this.projects = this.projects.filter(function (v, i, arr) {
                    return v.id !== project.id
                })
            ));
        }
    }

</script>

<style scoped>
</style>
