{% block content %}
<img src="{{ absolute_url(asset('build/img/logo-full-small.png')) | replace({'cz//': 'cz/'}) }}">

<h1>Vyžádána změna hesla</h1>

Heslo si můžete změnit <a href="{{ url('change_password', { 'hash' : user.hash }) | replace({'cz//': 'cz/'}) }}">kliknutím na tento odkaz</a>, máte na to 14 dní, poté odkazu vyprší platnost.
{% endblock %}
