{% block content %}

<img src="{{ absolute_url(asset('build/img/logo-full-small.png')) | replace({'cz//': 'cz/'}) }}">

<h1>Na projektu {{ project.title }} se vyskytl incident!</h1>

<table style="border: 2px solid #000000">
    <tr>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">status</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">hlídač</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">URL</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">typ kontroly</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">porovnání</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">očekávaná hodnota</th>
        <th style="border: 1px solid #cfcfcf; padding:8px 4px">nalezená hodnota</th>
    </tr>

    {% for incident in project.getLastResults() %}
        <tr {% if incident.status == 0 %}style="background: #ffacae" {% endif %}>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.getStatusText() }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.check.rule.title }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.check.rule.url }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.check.getTypeText() }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.check.getComparisonText() }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.check.getExpected() }}</td>
            <td style="border: 1px solid #cfcfcf; padding:8px 4px">{{ incident.getIncidentText() }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
