{% block content %}

<img src="{{ absolute_url(asset('build/img/logo-full-small.png')) | replace({'cz//': 'cz/'}) }}">

<h1>Vaše registrace do jibakurei.cz byla úspěšně založena</h1>

Heslo si můžete nastavit po kliknutí na <a href="{{ url('set_password', { 'hash' : user.hash }) | replace({'cz//': 'cz/'}) }}">tento odkaz</a>.


{% endblock %}
