<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ asset('build/js/login.css') }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo text-center">
            <a href="/"><img src="{{ asset('build/img/logo-full-small.png') }}" alt="jibakurei logo" class="text-center" /></a>
        </div>
        <!-- /.login-logo -->

        <ul>
            <li><a href="{{ path('test_heading') }}">Stránka s měnícím se nadpisem</a></li>
            <li><a href="{{ path('test_404') }}">Stránka s chybou 404</a></li>
            <li><a href="{{ path('test_500') }}">Stránka s chybou 500</a></li>
        </ul>
    </div>
    <!-- /.login-box -->

    <div>

        <pre>Stránka pro testování aplikace</pre>

        {% block content %}

        {% endblock %}
    </div>

    <script src="{{ asset('build/js/login.js') }}"></script>

    {% block javascripts %}
    {% endblock %}
</body>
</html>
