<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Verze</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019 Jakub Vyvážil - vytvořeno jako ZP pro obor Aplikovaná informatika na <a href="https://www.vspj.cz" target="_blank" rel="nofollow noopener">VŠPJ</a>.</strong>
</footer>
