<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <div id="projects">
            <menu-projects></menu-projects>
        </div>

         <ul class="sidebar-menu" data-widget="tree">
            <li class="header">O PROJEKTU</li>
            <li><a href="https://bitbucket.org/jvyvazil/jibakurei/overview"><i class="fa fa-book"></i> <span>Zdrojový kód</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
