{% extends 'dashboard.html.twig' %}

{% block title %}Přidat nový projekt{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vue/create.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nový projekt</h3>
            </div>
            <create-form></create-form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vue/create.js') }}"></script>
{% endblock %}
