{% extends 'dashboard.html.twig' %}

{% block title %}Detail projektu{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vue/detail.css') }}">
{% endblock %}

{% block content %}
    <div id="project-detail">
        <project-detail v-bind:project_id="{{ project }}"></project-detail>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vue/detail.js') }}"></script>
{% endblock %}

