{% extends 'dashboard.html.twig' %}

{% block title %}Přehled - Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vue/dashboard.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <dashboard></dashboard>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vue/dashboard.js') }}"></script>
{% endblock %}
